{% extends 'base.html' %}


{% block content %}
  <script>
    function messageReader(whois)
    {
          var u = new SpeechSynthesisUtterance();
          u.text = whois;
          u.lang = 'en-US';
          u.rate = 0.9;
          speechSynthesis.speak(u);

    }
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
  .w3-lobster {
  font-family: "Lobster", serif;
}
</style>
   <main id="main" onclick="messageReader('');">
       <br><br><br>
       <script>messageReader("We all face hardship, but for many, the thought of losing our sight is a horrifying prospect, Despite facing immense difficulties as a result of vision loss there are some truly amazing people in the world who have overcome their disability to achieve amazing things.When you actually adapt to blindness, you pretty much eradicate fear from your life in a way that most sighted people haven’t” –Daniel Kish.Daniel was born with Retinoblastoma, an aggressive form of cancer that attacks the retinas, leading to vision loss.Despite his polarizing nature, Daniel Kish is freeing many blind people from the constraints society place upon blind people, His hopes for the future lie in a handheld sonic device that can enable every blind person to use echolocation and lead a fuller life.");</script>
   </main>
<body>
<div class="w3-container w3-lobster">
<p class="w3-xlarge">
	
We all face hardship, but for many, the thought of losing our sight is a horrifying prospect. Despite facing immense difficulties as a result of vision loss, there are some truly amazing people in the world who have overcome their disability to achieve amazing things.</p>

<p class="w3-xxlarge">“When you actually adapt to blindness, you pretty much eradicate fear from your life in a way that most sighted people haven’t” –Daniel Kish.</p>

<p class="w3-xlarge">Daniel was born with Retinoblastoma, an aggressive form of cancer that attacks the retinas, leading to vision loss. By the time he was 13 months old, Daniel had both of his eyes removed in a lifesaving operation.

Although this is not a highly unusual scenario, what sets Daniel apart from other blind people is his ability to see the world around him using a technique called echolocation. This technique involves generating a sound - typically a click of the tongue - then listening to the echoes of sound that bounce off the surrounding objects, allowing Daniel to paint a picture of the world around him.

Although Daniel was not the first person to use this technique, he has now become an expert in human echolocation, and has begun training other blind people to use this technique through his non-profit charity World Access for the Blind. As of 2015, Kish's leadership had already enabled the charity to introduce more than 500 students to echolocation.

From the age of 18, Kish opted out of a relying on a caregiver, instead practicing complete independence, to the point that he's even rejected the use of his cane, choosing to rely solely upon his perfected click and echolocation. For this reason, he is a divisive figure in the blind community. Many have great respect for him, but some regard him with disdain for using behavior that could be deemed as abnormal.

Despite his polarizing nature, Daniel Kish is freeing many blind people from the constraints society place upon blind people. His hopes for the future lie in a handheld sonic device that can enable every blind person to use echolocation and lead a fuller life.



</p>
</div>
</body>

{% endblock %}